<center>
<img src="/assets/img/Pacman.jpg" alt="Pac Burger" width="400" height="300">

<h2>Eat-Da-Burger</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<form class="create-form">

  <div class="form-group">
    <label for="bg"></label>
    <input type="text" id="bg" name="name">
  </div>

<button type="submit" id="submit">Submit</button>  
</center>